<#macro getButtonCode link title aspect icon additionalParameters="" >
	<a ${(additionalParameters)!} href="${link}"
		title="${title}"
		class="${aspect}">
		<i class="${icon}" ></i>
	</a>
</#macro>

<#function getIntDayInWeek dayString >
	<#assign dayInt = 0>
	<#switch dayString>
		<#case "lundi">
	    	<#assign dayInt = 0>
	    	<#break>
	  	<#case "mardi">
		    <#assign dayInt = 1>
		    <#break>
		<#case "mercredi">
			<#assign dayInt = 2>
		    <#break>
		<#case "jeudi">
		    <#assign dayInt = 3>
		    <#break>
		<#case "vendredi">
		    <#assign dayInt = 4>
		    <#break>
		<#case "samedi">
			<#assign dayInt = 5>
			<#break>
		<#default>
			<#assign dayInt = 6>
	</#switch>
	<#return dayInt>
</#function>

<#-- getEndDate returns a string containing the number of days before the end of the week-end
**(if lambda is 6) or before the end of the next week (if lambda is 13)
** dayString : day in string format (lundi,mardi,mercredi,...)
** lambda : 6 if it is for week-end,13 if it is for the next week
** example : getEndDate("mardi", 6) returns "[NOW%2B5DAYS TO *]"
** example : getEndDate("jeudi", 13) returns "[NOW%2B10DAYS TO *]"
-->
<#function getEndDate dayString lambda >
	<#assign dayInt = getIntDayInWeek(dayString) >
	<#assign endDate = "[NOW%2B"+(lambda-dayInt)+"DAYS TO *]">
	<#return endDate>
</#function>

<#-- macro permettant d'afficher les différents boutons de l'application-->
<#macro showButton type href="" link="" title="" additionalParameters="" >
	<#if type?? && link?? && title??>
		<#-- standard aspect -->
		<#assign aspect="btn btn-small btn-primary" />
		
		<#-- map of the icon & title -->
		<#assign buttonGenerique = "btn btn-small" />
		<#assign map = {
				"delete":["module.stock.billetterie.transverse.delete","btn-danger","icon-trash icon-white"],
				"edit":["module.stock.billetterie.transverse.edit","btn-primary","icon-edit icon-white"],
				"send":["module.stock.billetterie.transverse.send","btn-primary","icon-envelope icon-white"],
				"history":["module.stock.billetterie.transverse.history","btn-primary","icon-book icon-white"],
				"export":["module.stock.billetterie.transverse.export","btn-primary","icon-download icon-white"],
				"up":["module.stock.billetterie.transverse.up","btn-primary","icon-chevron-up icon-white"],
				"down":["module.stock.billetterie.transverse.down","btn-primary","icon-chevron-down icon-white"],
				"see":["module.stock.billetterie.transverse.see","btn-primary","icon-eye-open icon-white"],
				"clone":["module.stock.billetterie.transverse.clone","btn-primary","icon-plus-sign icon-white"],
				"cancel":["module.stock.billetterie.transverse.cancel","btn-danger","icon-remove-circle icon-white"]
			}>

		<#if !(title?has_content) >
			<#assign nouveauTitre="${(map[type][0])!}" />
		<#else>
			<#assign nouveauTitre=title />
		</#if>
		
		<#-- controle pour supporter le parametre link et le href -->
		<#if (href?length > 1) >
			<#assign newHref = "${(href)!}" />
		<#else>
			<#assign newHref = "${(link)!}" />
		</#if>
		<@getButtonCode link="${(newHref)!}" title="#i18n{${(nouveauTitre)!}}" aspect="${(buttonGenerique)!} ${(map[type][1])!}" icon="${(map[type][2])!}" additionalParameters=additionalParameters />
	</#if>
</#macro>

<#macro showUpdatePaginator title="Nombre par page" i18nNbrItems="Nombre d'elements" nbrItems="0">
	<div class="row-fluid">
		<div class="pull-right">
			<div class="form-inline">
				<span class="add-on">${title}</span>
				<select id="items_per_page" class="input-mini" title="${title}" name="items_per_page">
					<#list [ "5" , "10" , "20" , "50" ] as nb>
						<option <#if nb_items_per_page = nb >selected="selected"</#if> value="${nb}">${nb}</option>
					</#list>
				</select>
				<button class="btn btn-small" title="#i18n{module.stock.billetterie.transverse.edit}" type="submit">
					<i class="icon-repeat"></i>
				</button>
				 - ${i18nNbrItems} ${nbrItems}
			</div>
		</div>
	</div>
</#macro>

<#macro showSearchButton title="Rechercher">
	<div class="form-actions">
		<button class="btn btn-primary btn-small" type="submit" >
			<i class="icon-search icon-white"></i>&nbsp;
			<span class="hidden-phone">${title}</span>
		</button>
	</div>
</#macro>

<#macro showFilterInput id="" name="" value="" label="" >
	<div class="control-group">
		<label class="control-label" for="${id!}">
			${label} :
		</label>
		<div class="controls">
			<input class="span" value="${value!}" name="${name!}" id="${id!}" />
		</div>
	</div>
</#macro>

<#macro showFilterSelect list id="" name="" value="" label="">
	<div class="control-group">
		<label class="control-label" for="${id!}">
			${label} :
		</label>
		<div class="controls">
			<@comboWithParams additionalParameters="class='span'" name="${name!}" default_value="${value!}" items=list! />
		</div>
	</div>
</#macro>

<#-- Duplication de la macro pour y ajouter un comportement d'action en "masse" -->
<#macro dataTableBilletterie dataTableManager actionMacro="" tableClass="table table-striped table-condensed" caption="&nbsp;" summary="data table" masseDeleteLabel="#i18n{module.stock.billetterie.list_offres.button.masseDelete}">
	<#if 0 < dataTableManager.items?size >
		<form class="form-inline" method="post" action="${dataTableManager.sortUrl}">
			<#if dataTableManager.enablePaginator>
			    <#if (dataTableManager.paginator.pagesCount > 1) >
			        <@paginationPageLinks paginator=dataTableManager.paginator />
			    </#if>
			    <div class="pull-right">
					<@paginationItemCount paginator=dataTableManager.paginator combo=1 nb_items_per_page=dataTableManager.paginator.itemsPerPage?string/>
				</div>
				<input type="hidden" name="${dataTableManager.id}" id="${dataTableManager.id}" value="${dataTableManager.id}" />
			</#if>
			<table class="${tableClass}" summary="${summary}">
				<caption>${caption}</caption>
				<tr>
					<#list dataTableManager.listColumn as column>
						<th scope="col">
							#i18n{${column.titleKey}}
							<#if !(column.typeColumn = "ACTION") && column.sortable>
								<@sort jsp_url=dataTableManager.sortUrl attribute=column.parameterName />
							</#if>
						</th>
					</#list>
				</tr>
				<#list dataTableManager.items as item>
					<tr>
						<#list dataTableManager.listColumn as column>
							<#if column.typeColumn = "STRING">
								<#assign propName = "item." + column.parameterName>
								<#assign value = propName?eval>
								<td>${value!}</td>
							<#elseif column.typeColumn = "LABEL">
								<#assign propName = "item." + column.parameterName>
								<#assign value = propName?eval>
								<td>#i18n{${value!}}</td>
							<#elseif column.typeColumn = "BOOLEAN">
								<#assign propName = "item." + column.parameterName>
								<#assign value = propName?eval>
								<#if value?? && value>
									<td><span class="label label-success" title="#i18n{${column.labelTrue!}}"><i class="icon-ok-sign icon-white"></i>#i18n{${column.labelTrue!}}</span></td>
								<#else>
									<td><span class="label label-important" title="#i18n{${column.labelFalse!}}"><i class="icon-remove-sign icon-white"></i>#i18n{${column.labelFalse!}}</span></td>
								</#if>
							<#elseif column.typeColumn = "EMAIL">
								<#assign propName = "item." + column.parameterName>
								<#assign value = propName?eval>
								<td><#if value?? && value != ""><a href="mailto:${value}" title="${value}" >${value}</a></#if></td>
							<#elseif column.typeColumn = "ACTION">
								<#if column.parameterName?? && column.parameterName != "">
									<#assign macroName = column.parameterName>
								<#elseif actionMacro?? && actionMacro != "">
									<#assign macroName = actionMacro>
								</#if>
								<#if macroName?? && macroName != "">
									<td><@.vars[macroName] item=item /></td>
								</#if>
							</#if>
						</#list>
					</tr>
				</#list>
			</table>
			<#if dataTableManager.enablePaginator>
			    <#if (dataTableManager.paginator.pagesCount > 1) >
			        <@paginationPageLinks paginator=dataTableManager.paginator />
			    </#if>
			    <div class="pull-right">
					<@paginationItemCount paginator=dataTableManager.paginator combo=0 nb_items_per_page=dataTableManager.paginator.itemsPerPage?string/>
				</div>
			</#if>
			<#if dataTableManager?? && dataTableManager.items?has_content>
				<button class="btn btn-danger btn-small" type="submit" name="masseDelete">
					<i class="icon-trash icon-white"></i>&nbsp;
					${masseDeleteLabel}
				</button>
				<br/>
				<br/>
			</#if>
		</form>
	<#else>
		#i18n{portal.util.labelNoItem}
	</#if>
</#macro>