<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
<head>
<base href="${base_url}" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
<strong>Bonjour Administrateur</strong>,
<br />
<br />Pour votre information, la représentation ${seance.id} - ${seance.product.name} du ${seance.date} à ${seance.hour} est soit
complète, soit les usagers ne peuvent plus réserver en FO à cause du
nombre minimal de places à réserver par réservation.
<br />
</body>